body {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  overflow: hidden;
  user-select: none;
}

#loading {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.hidden {
  display: none;
}

#description {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

#title {
  text-align: center;
}

#description {
  bottom: 0;
  padding-left: 1em;
}

button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  font-size: 2.5em;
}

#undo {
  color: #fafa32;
}
#restart {
  color: #fa3232;
}
#mute {
  left: 0;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

header {
  top: 0;
  width: calc(100% - 2em);
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1;
}
