body {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  overflow: hidden;
  user-select: none;
}

#loading {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.hidden {
  display: none;
}

#title, #description {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

#title {
  width: 100%;
  text-align: center;
  top: 0;
}

#description {
  bottom: 0;
  padding-left: 1em;
}

button {
  position: absolute;
  z-index: 1;
  top: 0;
}

#restart {
  right: 0;
}
#mute {
  left: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
